
# macOS metadata
.DS_Store

# Xcode user interface state
**/xcuserdata/**/*.xcuserdatad/UserInterfaceState.xcuserstate

# macOS Finder metadata
**/.DS_Store

# Xcode per-user interface state
**/xcuserdata/**/*.xcuserdatad/UserInterfaceState.xcuserstate
